.navbar {
  padding: 10px;
  margin-bottom:0px;
}

.white-bg {
  padding-top:20px;
  background:#fff;
  padding-left:50px;
  padding-right:50px;
  background-color: rgba(255, 255, 255, 0.9);
}

.basic-jumbo {
  padding: 40px 5px;
  margin-top: 50px;
  color:#ffffff;
  font-weight: 100;
  font-size: 70px;
  letter-spacing: 7px;
}


footer {
  padding-bottom:10px;
}

.bottom-divider {
  margin: 50px 0px 30px 0px;
}

body {
  background: url(../img/subtle_white_feathers.png);
  height:100%;
}
