.navbar {
  padding: 10px;

}

.basic {
  padding: 40px;
  text-align: left;
  background-color:#FFFFFF;
  border-radius: 8px;
  opacity: 0.95;
}

.basic-center {
  text-align: center;
  padding: 40px 5px;
  margin-top: 50px;
}

.basic-center a {
  color:#ffffff;
  font-weight: lighter;
  font-size: 70px;
  letter-spacing: 15px;
}

footer {
  color:#FFFFFF;
}

.bottom-divider {
  margin: 50px 0px 10px 0px;
}
